<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/landingstyle.css"/>
</head>
<body class="background-img">
<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row">
  <a class="navbar-brand" href="#">F.I.T</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Join</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- Main Body -->
<section class="gradient-form background-img">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../public/images/Gymlogo.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Welcome to F.I.T</h4>
                </div>

                <form id="login-form">
                  <p class="login">Login to find the perfect workout partner</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="login-username" class="form-control"
                      placeholder="username" />
                    <!-- <label class="form-label" for="form2Example11">Username</label> -->
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="login-password" class="form-control" placeholder="password" />
                    <!-- <label class="form-label" for="form2Example22">Password</label> -->
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log
                      in</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger">Get Started</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h2 class="mb-0">Friends In Fitness</h2>
                <h5 class="mb-4">More than just gym partners.</h5>
                <p class="mb-4">Find, match, and train with a unique mix of local gym goers ranging from novice to enthusiast. <br> Find your fit, with F.I.T.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>