<!-- Main Body -->
<section class="gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/images/FITlogo.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Welcome to F.I.T</h4>
                </div>

                <form id="login-form">
                  <p class="login">Login to find the perfect workout partner</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="login-email" class="form-control" placeholder="e-mail address" />
                    <!-- <label class="form-label" for="form2Example11">Username</label> -->
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="login-password" class="form-control" placeholder="password" />
                    <!-- <label class="form-label" for="form2Example22">Password</label> -->
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Log In</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#signupModal">Get Started</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h2 class="mb-0">Friends In Fitness</h2>
                <h5 class="mb-4">More than just gym partners.</h5>
                <p class="mb-4">Find, match, and train with a unique mix of local gym goers ranging from novice to enthusiast. <br> Find your fit, with F.I.T.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-white modal-header">
        <h5 class="modal-title" id="exampleModalLabel">F.I.T. Sign Up</h5>
      </div>
      <div class="modal-body">
        <!-- SIGNUP FORM -->
        <form id="signup-form">
        <div class="row mb-2">
				<div class="col">
					<label for="first-name-input" class="form-label">First name</label>
					<input type="text" id="first-name-input" class="form-control" aria-label="First name" />
				</div>
				<div class="col">
					<label for="last-name-input" class="form-label">Last name</label>
					<input type="text" id="last-name-input" class="form-control" aria-label="Last name" />
				</div>
			</div>
        <div class="row mb-2">
				<div class="col">
					<label for="email-input" class="form-label">Email</label>
					<input type="email" id="email-input" class="form-control" />
				</div>
				<div class="col">
					<label for="password-input" class="form-label">Password</label>
					<input type="password" id="password-input" class="form-control" />
				</div>
        </div>
        <div class="row mb-2">
				<div class="col">
					<label for="city-input" class="form-label">City</label>
					<input type="text" id="city-input" class="form-control" />
				</div>
				<div class="col">
					<label for="state-input" class="form-label">State</label>
					<select id="state-input" class="form-select">
						<option selected>Choose...</option>
						<option value="AK">Alaska</option>
			<option value="AL">Alabama</option>
			<option value="AR">Arkansas</option>
			<option value="AZ">Arizona</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DC">District of Columbia</option>
			<option value="DE">Delaware</option>
			<option value="FL">Florida</option>
			<option value="GA">Georgia</option>
			<option value="HI">Hawaii</option>
			<option value="IA">Iowa</option>
			<option value="ID">Idaho</option>
			<option value="IL">Illinois</option>
			<option value="IN">Indiana</option>
			<option value="KS">Kansas</option>
			<option value="KY">Kentucky</option>
			<option value="LA">Louisiana</option>
			<option value="MA">Massachusetts</option>
			<option value="MD">Maryland</option>
			<option value="ME">Maine</option>
			<option value="MI">Michigan</option>
			<option value="MN">Minnesota</option>
			<option value="MO">Missouri</option>
			<option value="MS">Mississippi</option>
			<option value="MT">Montana</option>
			<option value="NC">North Carolina</option>
			<option value="ND">North Dakota</option>
			<option value="NE">Nebraska</option>
			<option value="NH">New Hampshire</option>
			<option value="NJ">New Jersey</option>
			<option value="NM">New Mexico</option>
			<option value="NV">Nevada</option>
			<option value="NY">New York</option>
			<option value="OH">Ohio</option>
			<option value="OK">Oklahoma</option>
			<option value="OR">Oregon</option>
			<option value="PA">Pennsylvania</option>
			<option value="PR">Puerto Rico</option>
			<option value="RI">Rhode Island</option>
			<option value="SC">South Carolina</option>
			<option value="SD">South Dakota</option>
			<option value="TN">Tennessee</option>
			<option value="TX">Texas</option>
			<option value="UT">Utah</option>
			<option value="VA">Virginia</option>
			<option value="VT">Vermont</option>
			<option value="WA">Washington</option>
			<option value="WI">Wisconsin</option>
			<option value="WV">West Virginia</option>
			<option value="WY">Wyoming</option>
					</select>
				</div>
        </div>
        <div class="row mb-2">
        <div class="col">
            <label for="fitness-level-input" class="form-label">Fitness Level</label>
					<select id="fitness-level-input" class="form-select">
						<option selected>Select fitness level</option>
						<option value="Beginner">Beginner</option>
			<option value="Intermediate">Intermediate</option>
			<option value="Advanced">Advanced</option>
      </select>
        </div>

        <div class="col">
            <label for="availability-input" class="form-label">Availability</label>
					<select id="availability-input" class="form-select">
						<option selected>Select workout time</option>
						<option value="Morning">Morning</option>
			<option value="Afternoon">Afternoon</option>
			<option value="Evening">Evening</option>
      </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <label for="gender-input" class="form-label">Gender</label>
					<select id="gender-input" class="form-select">
						<option selected>Select...</option>
						<option value="Male">Male</option>
			<option value="Female">Female</option>
      </select>
        </div>
        
        <div class="col">
            <label for="gym-input" class="form-label">Gym</label>
					<select id="gym-input" class="form-select">
						<option selected>Select your gym</option>
          				<option value="1">24 Hour Fitness</option>
						<option value="2">Anytime Fitness</option>
						<option value="3">Crunch Fitness</option>
						<option value="4">Curves International</option>
						<option value="5">Equinox Fitness</option>
						<option value="6">Esporta Fitness</option>
						<option value="7">F45 Training</option>
						<option value="8">Gold's Gym</option>
          				<option value="9">LA Fitness</option>
         			 	<option value="10">Orangetheory Fitness</option>
         			 	<option value="11">Planet Fitness</option>
         			 	<option value="12">Pure Barre</option>
      </select>
        </div>
      </div>

			{{!-- <div class="pt-2 dropdown">
				<button class="btn btn-success dropdown-toggle"	type="button"	id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Fitness Level</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="#">Beginner</a></li>
					<li><a class="dropdown-item" href="#">Intermediate</a></li>
					<li><a class="dropdown-item" href="#">Advanced</a></li>
				</ul>
				<button	class="btn btn-success dropdown-toggle"	type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Availability</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="#">Morning</a></li>
					<li><a class="dropdown-item" href="#">Afternoon</a></li>
					<li><a class="dropdown-item" href="#">Evening</a></li>
				</ul>
				<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Gender</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="#">Male</a></li>
					<li><a class="dropdown-item" href="#">Female</a></li>
				</ul>
				<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Gym</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="#">24 Hour Fitness</a></li>
					<li><a class="dropdown-item" href="#">Anytime Fitness</a></li>
					<li><a class="dropdown-item" href="#">Crunch Fitness</a></li>
					<li><a class="dropdown-item" href="#">Curves International</a></li>
					<li><a class="dropdown-item" href="#">Equinox Fitness</a></li>
					<li><a class="dropdown-item" href="#">Esporta Fitness</a></li>
					<li><a class="dropdown-item" href="#">F45 Training</a></li>
					<li><a class="dropdown-item" href="#">Gold's Gym</a></li>
          <li><a class="dropdown-item" href="#">LA Fitness</a></li>
          <li><a class="dropdown-item" href="#">Orangetheory Fitness</a></li>
          <li><a class="dropdown-item" href="#">Planet Fitness</a></li>
          <li><a class="dropdown-item" href="#">Pure Barre</a></li>
				</ul>
			</div>
		</div> --}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>