:root{
    --primary: #2f9e61;
    --secondary: #085028;
  }

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  scroll-snap-type: y mandatory;
  background-color: #f4f4f4;
  background-image: url(/images/seamless-dumbbell-pattern.jpg);
  background-repeat: repeat;
  background-attachment: scroll;

}

.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  scroll-snap-points-y: 300px;
}


.container section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.sticky {
  position: fixed;
  min-width: 100%;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 15%;
  opacity: 90%;
  border-radius: 10px;
  border: solid black 1.5px;
  font-family: 'Times New Roman', Times, serif;
}

.text {
  font-size: 40px;
  position: absolute center;
  text-align: center;
  padding-left: 0%;
  color: var(--primary);
  margin-top: 43px;
}

.text1 {
  font-size: 21px;
  text-align: center;
  margin-top: -20px;
  color: var(--secondary);
}

.image {
  text-align: center;
  width: 200px;
  /* Containers dimensions */
  height: 200px;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  box-shadow: 0 0 0 1px #eee;
  background: center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  align-content: center;
}



.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

.image:hover {
  box-shadow: 0px 5px 20px .9px #3F3F3F;
}

.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}



.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#overlay {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  -webkit-transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

#box:hover #overlay {
  opacity: 1;
}

.navbar-inverse .navbar-brand {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
}
.navbar-brand img {
  height: 100%;
  margin-left: 20px;
}

a.navbar-brand {
  text-decoration: none;
}

a.nav-link {
  text-decoration: none;
}



.rela-block {
  /* display: block; */
  position: relative;
  /* margin: auto; */
  top: ;
  left: ;
  right: ;
  bottom: ;
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
  top: ;
  left: ;
  right: ;
  bottom: ;
}
.profile-image {
  width: 240px;
  height: 200px;
  cursor: pointer;
  margin: 0 20px 40px;
  overflow: hidden;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
  background-color: rgba(0,0,0,0.4);
  background-size: cover !important;
  -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
}
  .profile-container {
    /* z-index: 1; */
    display: block;
    width: 92%;
    max-width: 1126px;
    /* background-color: #f4f4f4; */
    margin: 70px auto;
    padding: 100px 0;
  }
.profile-card {
  width: calc(100% - 40px);
  padding-top: 100px;
  margin: 70px auto 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic {
  display: false;
  position: absolute;
  margin: false;
  top: -90px;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border: 10px solid #fff;
  border-radius: 100%;
  background: center no-repeat;
  background-size: cover;
}
.user-name {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
}
.user-desc {
  letter-spacing: 1px;
  color: #999;
}
.profile-image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  box-shadow: 0 2px 18px -2px rgba(0,0,0,0.3);
}
.profile-list {
  list-style-type: none;
  margin-right: 30px;
}
.profile-name-container {
  margin: 0 auto 10px;
  padding: 10px;
  text-align: center;
}
/* .background-img {
  background-image: url(/images/seamless-dumbbell-pattern.jpg);
  background-repeat: repeat;
  background-attachment: scroll;
} */